.app {
	height: 100vh;
	max-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.icon-button {
	border: none;
	background: none;
	cursor: pointer;
	color: white;
	font-size: 1.1em;
}

.horizontal-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 5px;
	margin: 10px;
}

.rs-message {
	.subtitle {
		display: block;
		margin-top: 10px;
		text-transform: uppercase;
	}
}

.link {
	color: #1675e0;
	text-decoration: none;
	background: transparent;
	padding: 0;
	
	&:hover {
		text-decoration: underline;
	}
}
