.note {
	position: absolute;
	background: white;
	padding: 8px;
	border: 1px solid #444;
	border-radius: 12px;
	min-height: fit-content;
	min-width: fit-content;
	
	&.selected {
		box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.75);
	}
	
	textarea {
		resize: both !important;
	}
}