@import 'rsuite/dist/rsuite.min.css';

html {
	margin: 0;
	padding: 0;
	height: 100vh;
	--rs-picker-value: var(--rs-gray-200) !important;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

* {
	min-width: 0;
	outline: none;
	scrollbar-color: #777 #ababab;
}

*::-webkit-scrollbar {
	width: auto;
}

*::-webkit-scrollbar-track {
	background-color:#ababab;
}

*::-webkit-scrollbar-thumb {
	background-color: #777;
}

input, select {
	max-width: 100%;
}

#root {
	height: 100%;
	width: 100%;
}

fieldset {
	border: none;
	border: 1px solid #aaa;
	
	legend {
		font-size: 1.1em;
		padding: 0 0.5em;
	}
}

.mb-1 {
	margin-bottom: 1em;
}

.ml-1 {
	margin-left: 1em;
}

.rs-picker-menu {
	z-index: 1061;
}

.rs-input[type=color] {
	padding: 2px;
}

.rs-message-info {
	background: #3b76a7;
}

code {
	padding: 0 5px;
	background-blend-mode: multiply;
	background: #0004;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.rs-btn {
	.rs-ripple, .rs-ripple-pond {
		display: none !important;
		visibility: hidden !important;
		background: none;
		color: none;
		width: 0 !important;
		height: 0 !important;
	}
}

.small-text {
	font-size: 0.65rem;
}

.flash-border {
	animation: flashBorder 1s;
	animation-iteration-count: infinite;
}

@keyframes flashBorder {
	from {
		border: 1px solid #00000000;
	}
	
	to {
		border: 1px solid yellow;
	}
}