.popup-notification-container {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0.5em;
	background-color: rgba(0, 0, 50, 0.2);
	border: 1px solid #888;
	max-width: 50%;
}
